---
---
* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  &:before, &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-weight: 400;
  background: #fff;
  color: #777;
  line-height: 1.5;
  font-size: 1.25em;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

a {
  color: #33bfd0;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  &:hover {
    color: #70d2de;
  }
}

img {
  display: block;
  vertical-align: middle;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  &:hover {
    opacity: 0.75;
  }
}

a, img {
  border: none;
  outline: none;
}

.main {
  padding: 3em 0;
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3 {
  color: #333;
}

h1 {
  text-align: center;
  font-weight: 500;
}

h3 {
  margin: 2em 0 0 0;
  line-height: 0.5;
  font-weight: 500;
}

header {
  text-align: center;
  color: #33bfd0;
  text-transform: uppercase;
  nav {
    list-style-type: none;
    h2 {
      letter-spacing: 1.5px;
    }
    li {
      margin: 0 15px;
      display: inline-block;
    }
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery ul li {
  padding-bottom: 1em;
}

.item {
  max-width: 50%;
  float: left;
  margin-bottom: 1em;
  display: block;
  &:nth-of-type(2n+1) {
    clear: left;
  }
  h3 {
    line-height: 2em;
  }
}

footer {
  text-align: center;
  padding: 2em 0;
}

.about {
  background-color: #edfcff;
  color: #555;
  padding: 1em;
}

.hidden {
  display: none;
}

.active {
  display: block;
  -webkit-animation: slide-down .3s ease-out;
  -moz-animation: slide-down .3s ease-out;
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}


@-moz-keyframes slide-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}


/* CSS Grid */

.container {
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-areas: "header header header" "main main main" "gallery gallery gallery" "footer footer footer";
}

.main {
  grid-area: main;
}

header {
  grid-area: header;
  display: grid;
  justify-items: center;
}

.gallery {
  grid-area: gallery;
  padding: 5em 0;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-gap: 1em;
  }
}

footer {
  grid-area: footer;
  display: grid;
  justify-items: center;
}

/* Flexbox */

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  li {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 1em);
    flex: 0 1 calc(50% - 1em);
    -ms-flex-preferred-size: calc(50% - 1em);
    flex-basis: calc(50% - 1em);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 824px) {
  body {
    line-height: 1.75;
    font-size: 1.5em;
  }
  header nav li {
    margin: 0 10px;
  }
  .gallery ul {
    grid-template-columns: 100%;
    li {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }
  .item {
    max-width: 100%;
    float: none;
  }
}
