root: {
  --sans-serif: "avenir next", avenir, sans-serif;
  --serif: georgia, serif;
  --monospace: consolas, monospace;

  --font-size-headline: 6rem;
  --font-size-subheadline: 5rem;
  --font-size-1: 3rem;
  --font-size-2: 2.25rem;
  --font-size-3: 1.5rem;
  --font-size-4: 1.25rem;
  --font-size-5: 1rem;
  --font-size-6: 0.875rem;
  --font-size-7: 0.75rem;

  --measure: 30em;
  --measure-narrow: 20em;
  --measure-wide: 34em;

  --letter-spacing-tight: -0.05em;
  --letter-spacing-1: 0.1em;
  --letter-spacing-2: 0.25em;

  --line-height-solid: 1;
  --line-height-title: 1.25;
  --line-height-copy: 1.5;

  --spacing-extra-small: 0.25rem;
  --spacing-small: 0.5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing-extra-extra-extra-large: 16rem;

  --border-radius-1: 0.125rem;
  --border-radius-2: 0.25rem;
  --border-radius-3: 0.5rem;
  --border-radius-4: 1rem;
  --border-radius-circle: 100%;
  --border-radius-pill: 9999px;

  --box-shadow-1: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-2: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-3: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  --box-shadow-4: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
  --box-shadow-5: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);

  --height-1: 1rem;
  --height-2: 2rem;
  --height-3: 4rem;
  --height-4: 8rem;
  --height-5: 16rem;
  --width-1: 1rem;
  --width-2: 2rem;
  --width-3: 4rem;
  --width-4: 8rem;
  --width-5: 16rem;

  --max-width-1: 1rem;
  --max-width-2: 2rem;
  --max-width-3: 4rem;
  --max-width-4: 8rem;
  --max-width-5: 16rem;
  --max-width-6: 32rem;
  --max-width-7: 48rem;
  --max-width-8: 64rem;
  --max-width-9: 96rem;

  --red-000: #3b020c;
  --red-100: #5f0413;
  --red-200: #85051b;
  --red-300: #ad0723;
  --red-400: #d7092b;
  --red-500: #e44d58;
  --red-600: #e8797f;
  --red-700: #ed9da1;
  --red-800: #f2bfc1;
  --red-900: #f8dfe0;
  --gold-000: #251705;
  --gold-100: #3f2809;
  --gold-200: #5b390d;
  --gold-300: #784c11;
  --gold-400: #975f16;
  --gold-500: #b7731a;
  --gold-600: #d8881f;
  --gold-700: #eba35e;
  --gold-800: #f1c29f;
  --gold-900: #f8e1d1;
  --green-000: #011f05;
  --green-100: #013508;
  --green-200: #014c0b;
  --green-300: #02640f;
  --green-400: #027e13;
  --green-500: #039817;
  --green-600: #03b31b;
  --green-700: #04cf1f;
  --green-800: #04ec23;
  --green-900: #b2f5b4;
  --teal-000: #0a1d1d;
  --teal-100: #123132;
  --teal-200: #1a4748;
  --teal-300: #225e60;
  --teal-400: #2b7678;
  --teal-500: #348f92;
  --teal-600: #3da9ac;
  --teal-700: #46c4c7;
  --teal-800: #55dfe2;
  --teal-900: #bbeff0;
  --blue-000: #091c27;
  --blue-100: #0f2f43;
  --blue-200: #164461;
  --blue-300: #1d5a81;
  --blue-400: #2571a1;
  --blue-500: #2c89c4;
  --blue-600: #42a2e2;
  --blue-700: #80b8e8;
  --blue-800: #afcfef;
  --blue-900: #d8e7f7;
  --indigo-000: #2d0739;
  --indigo-100: #4b0c5f;
  --indigo-200: #6a1187;
  --indigo-300: #8b16b1;
  --indigo-400: #a435ce;
  --indigo-500: #b061d4;
  --indigo-600: #bd84da;
  --indigo-700: #cca4e2;
  --indigo-800: #dcc2eb;
  --indigo-900: #ede1f4;
  --violet-000: #2c101f;
  --violet-100: #4a1c36;
  --violet-200: #6b284d;
  --violet-300: #8d3566;
  --violet-400: #b14380;
  --violet-500: #d6519a;
  --violet-600: #e574af;
  --violet-700: #eb9ac2;
  --violet-800: #f1bdd5;
  --violet-900: #f8deea;
  --gray-000: #181a1c;
  --gray-100: #2a2d30;
  --gray-200: #3d4146;
  --gray-300: #51565c;
  --gray-400: #656c74;
  --gray-500: #7e8389;
  --gray-600: #979b9f;
  --gray-700: #b0b3b6;
  --gray-800: #caccce;
  --gray-900: #e4e5e6;
}
