---
layout: default
permalink: /portfolio/
title: Portfolio
---

<section class="mw7 center">
  {% if page.title %}
    <h2 class="fw1 ph3 ph0-l bb b--black-10 pb3 mb0">{{ page.title | escape }}</h2>
  {% endif %}

  {% for p in site.portfolios %}
    <article class="bb b--black-10">
      <a class="db pv4 ph3 ph0-l no-underline black dim" href="{{ p.url }}" title="{{ p.title }}">
        <div class="flex flex-column flex-row-ns">
          <div class="pr3-ns mb4 mb0-ns w-100 w-60-ns">
            <img src="{{ "/images/" | prepend: site.baseurl | append: p.image }}" class="db shadow-4" alt="Screenshot of {{ p.title }}">
          </div>
          <div class="w-100 w-60-ns pl3-ns">
            <h1 class="f3 fw1 mt0 lh-title">{{ p.title }}</h1>
            <p class="f6 f5-l lh-copy">
              {{ p.description }}
            </p>
          </div>
        </div>
      </a>
    </article>
  {% endfor %}
</section>
