<header>
  <nav>
    <h2>Micah Taylor</h2>
    <ul>
      <li>
        <a href="{{ "/" | prepend: site.baseurl }}" title="Home">Home</a>
      </li>
      <li>
        <a href="{{ "/portfolio/" | prepend: site.baseurl }}" title="Portfolio">Portfolio</a>
      </li>
      <li>
        <a href="https://docs.google.com/document/d/1q1JyRrQB8i1wa84w456BLYKXPBLtugdduZ3Ew7IQc-k/edit?usp=sharing" title="Resume">Resume</a>
      </li>
      <li>
        <a href="mailto:micah@micahtaylor.com?subject=Highest of fives!" title="Contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
